* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* -----------------------------------------------------
Header
-------------------------------------------------------- */

#logo{
  width: 121px;
}

header {
  text-align: center;
  padding: 3rem 0 2.5rem;
  background-color: #212121;
  color: white;
}

/* -----------------------------------------------------
Nav
-------------------------------------------------------- */

nav {
  padding: 1rem 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #212121;
  text-align: center;
  word-spacing: 2em;
}

nav a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .02em;
  display: inline-block;

}

.nav-links a:hover {
  color: rgb(24, 188, 156);
}

nav .content-wrapper {
  /* display: flex;
  flex-wrap: wrap; */
}



body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}


/* -----------------------------------------------------
Layout
-------------------------------------------------------- */
.content-wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* -----------------------------------------------------
Projects
-------------------------------------------------------- */
.carousel {
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  transition: all .3s ease-in-out;
}

.image-wrapper img {
  align-self: center;

}

/* .image-wrapper p {
  align-self: center;

} */

.carousel-indicators {
  text-align: center;
  position: relative;
  bottom:auto;
}

.carousel-indicators li {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #888;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
  transition: all .3s ease-in-out;
}

.carousel-indicators .active {
  background-color: #2C3E50;
  border: 2px solid #2C3E50;
}


.col{
  margin-top: 5em;
  margin-bottom: 5em;
}

/* -----------------------------------------------------
2nd nav
-------------------------------------------------------- */

#nav2{
  display: block;
  margin: 0 auto;
  text-align: center;


}



/* -----------------------------------------------------
HOME PAGE MAIN CONTENT
-------------------------------------------------------- */

.work-container{
  margin: 0 10em;
  text-align: center;


}

.work-container div{
  display: block;
  margin: 0 auto;

}


.website-mockup{

  width: 420px;
}



.masonry {
	column-count: 3;
	width: 100%;
  padding: 0 10em;
	/* margin: 64px 0 0;
	margin: 4rem 0 2rem; */
	/* padding-bottom: 0; */
}

.masonry img {
	cursor: pointer;
  width: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.masonry img:hover {
	opacity: .6;
}



/* -----------------------------------------------------
Lightbox
-------------------------------------------------------- */
.lightbox {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-content: center;
}

.lightbox img {
  align-self: center;
}

/* -----------------------------------------------------
Testimonials
-------------------------------------------------------- */
blockquote {
  margin-left: 0;
  margin-right: 0;
  display: none;
}

blockquote:first-of-type {
  display: block;
}
