* {
  box-sizing: border-box;
}

body{
  /* background-color: #212121; */
  background-color: #191517;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #b1b1b1;
  text-align: center;
}

/* -----------------------------------------------------
Header
-------------------------------------------------------- */

#logo{
  width: 121px;
}

header {
  text-align: center;
  padding: 3rem 0 2.5rem;
  background-color: #212121;
  color: white;
}

/* -----------------------------------------------------
Nav
-------------------------------------------------------- */

nav {
  padding: 1rem 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #050505;
  text-align: center;
  word-spacing: 2em;
}

nav a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .02em;
  display: inline-block;

}

.nav-links a:hover {
  color: rgb(24, 188, 156);
}

nav .content-wrapper {
  /* display: flex;
  flex-wrap: wrap; */
}

.navbar{
  background-color: #050505;
}

/* How to center the bootstrap nav*/

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.dropdown-menu{

  word-spacing: .25em;

}

.carousel-indicators{
  position: relative;
  padding-top: 1em;
  padding-bottom: 4.5em:;
}



body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  position: relative;
}


/* -----------------------------------------------------
Layout
-------------------------------------------------------- */
.content-wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1rem;
}




/* -----------------------------------------------------
Projects
-------------------------------------------------------- */
.carousel {
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  transition: all .3s ease-in-out;
}

.image-wrapper img {
  align-self: center;

}
.image-wrapper a {
  align-self: center;

}

/* .image-wrapper p {
  align-self: center;

} */

.carousel-indicators {
  text-align: center;
  position: relative;
  bottom:auto;
}

.carousel-indicators li {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #888;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
  transition: all .3s ease-in-out;
}

.carousel-indicators .active {
  background-color: #2C3E50;
  border: 2px solid #2C3E50;
}


.col{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-align: center;
}



/* -----------------------------------------------------
NAME GRAPHIC
-------------------------------------------------------- */
svg {
    display: block;
    font: 8em 'Montserrat';
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


.about-me-text{
  padding-left: 6em;
  padding-right: 6em;
  text-transform: none;
}


/* -----------------------------------------------------
2nd nav (BUTTONS)
-------------------------------------------------------- */

.nav2{
  display: block;
  margin: 0 auto;
  text-align: center;


}



/* -----------------------------------------------------
HOME PAGE MAIN CONTENT
-------------------------------------------------------- */
.row-padding{
  margin: 0 auto;
}

#about-pic{
  /* width: 100%; */
  border-radius: 50%;
  max-height: 300px;
  /* padding-bottom: 1em; */
  /* padding: 2em; */
  margin: 0 auto;
}
#about-padding{
  margin: 0 auto;
  padding: 20px;
}
.about-text{
  display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
}

.work-container{
  margin: 0 10em;
  text-align: center;


}

.work-container div{
  display: block;
  margin: 0 auto;

}


.website-mockup{

  width: 687px;
}



.masonry {
	column-count: 2;
	width: 100%;
  padding-top: 2.5em ;
  padding-left: 10em;
  padding-right: 10em;

	/* margin: 64px 0 0;
	margin: 4rem 0 2rem; */
	/* padding-bottom: 0; */
}

.masonry img {
	cursor: pointer;
  width: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.masonry img:hover {
	opacity: .6;
}

/* Masonry with 3 images per row */

.masonry3 {
	column-count: 3;
	width: 100%;
  padding-top: 2.5em ;
  padding-left: 10em;
  padding-right: 10em;

	/* margin: 64px 0 0;
	margin: 4rem 0 2rem; */
	/* padding-bottom: 0; */
}






/* -----------------------------------------------------
Button
-------------------------------------------------------- */


.transition { transition: all .1s ease; }
.btn {
  @extend .transition;
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 1em;
  background-color: #e6d3c2;
  color: #212121;
  box-shadow: 0 3px 0 0 #a20101;

  /* &:focus {
    outline: none;
    background-color: #b1b1b1;
  } */

  }
}

.btn:hover{
  background-color: #e2c08d;

}
.btn-action:hover {
  background-color: #e2c08d;

}

.btn-primary:hover {
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
  background-color: #212121;
  /* color: white; */
  color: #e2c08d;
  /* color: white; */

}

.btn a{
  text-decoration: none;
  color: black;
}
.btn a:hover{
  color: white;
}

.modal-footer button{
  background-color: #212121;
  color: #e2c08d;
}



/* FOOOTER
   ================================================================ */

footer{
  text-align:center;
  /* background-color: #cdf3f6; */
  color : #44545e;
}

footer a{
  color : #44545e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.social-media{
  display: inline-block;
  padding: 20px;
  letter-spacing: 1em;
}

.copyright{
  border-top: 1px solid black;
  font-size: .5em;
  padding: 10px;
  color: #b1b1b1;
  text-transform: uppercase;
}

.fa-custom{
  font-size: 1.5em;
}



/* -----------------------------------------------------
Make the youtube videos responsive
-------------------------------------------------------- */

.embed-responsive{

  max-width: 687px;
  margin: 0 auto;
}



/* -----------------------------------------------------
Lightbox
-------------------------------------------------------- */
.lightbox {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-content: center;
  padding: 0 10em;
}

.lightbox img {
  align-self: center;
  width: 800px;
}


#logos, #stills, #flyers, #business-cards, #cover-art{
  padding: 2em 0;
}

#logos, #cover-art{
  background-color: #e6d3c2;
}

.modal-blck{
  background-color: #212121;
  color: #b1b1b1;
  font-style: italic;
  text-align: center;
  border-bottom: 0;
}

.close{
  color: #e6d3c2;
}




/* -----------------------------------------------------
Skills Animation
-------------------------------------------------------- */
blockquote {
  margin-left: 0;
  margin-right: 0;
  display: none;
}

blockquote:first-of-type {
  display: block;
}

/* center my name in the modal */
.modal-title{
  margin: 0 auto;
}

.iphone-mockup{
display: none;
}

.iphone-mockup img{
  width: 400px;
}



/* -----------------------------------------------------
MEDIA QUiERIES
-------------------------------------------------------- */


 @media screen and (max-width: 741px) {
   .masonry {
     column-count: 1;
     width: 100%;
     padding: 2.5em;
   }
   .lightbox{
     padding: 0 2.5em;
   }

   .lightbox img {
     align-self: center;
     width: 100%;
   }

   .website-mockup, .website-title{
     display: none;
   }
   .iphone-mockup{
     text-align: center;
     display: block;
     padding-bottom: 2em;
   }



    }



    /* @media only screen
        and (max-width: 700px){

          } */

    @media only screen
    and (min-device-width: 53px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .masonry {
        column-count: 1;
        width: 100%;
        padding: 2.5em;
      }
      .lightbox{
        padding: 0 2.5em;
      }

      .lightbox img {
        align-self: center;
        width: 100%;
      }

      .website-mockup, .website-title{
        display: none;
      }
      .iphone-mockup{
        text-align: center;
        display: block;
        padding-bottom: 2em;
      }
