* {
  box-sizing: border-box;
}

body{
  background-color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #b1b1b1;
}

/* -----------------------------------------------------
Header
-------------------------------------------------------- */

#logo{
  width: 121px;
}

header {
  text-align: center;
  padding: 3rem 0 2.5rem;
  background-color: #212121;
  color: white;
}

/* -----------------------------------------------------
Nav
-------------------------------------------------------- */

nav {
  padding: 1rem 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #212121;
  text-align: center;
  word-spacing: 2em;
}

nav a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .02em;
  display: inline-block;

}

.nav-links a:hover {
  color: rgb(24, 188, 156);
}

nav .content-wrapper {
  /* display: flex;
  flex-wrap: wrap; */
}



body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}


/* -----------------------------------------------------
Layout
-------------------------------------------------------- */
.content-wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* -----------------------------------------------------
Projects
-------------------------------------------------------- */
.carousel {
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  transition: all .3s ease-in-out;
}

.image-wrapper img {
  align-self: center;

}

/* .image-wrapper p {
  align-self: center;

} */

.carousel-indicators {
  text-align: center;
  position: relative;
  bottom:auto;
}

.carousel-indicators li {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #888;
  border-radius: 50%;
  margin: 0 5px;
  background-color: white;
  transition: all .3s ease-in-out;
}

.carousel-indicators .active {
  background-color: #2C3E50;
  border: 2px solid #2C3E50;
}


.col{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-align: center;
}

/* -----------------------------------------------------
2nd nav
-------------------------------------------------------- */

#nav2{
  display: block;
  margin: 0 auto;
  text-align: center;


}



/* -----------------------------------------------------
HOME PAGE MAIN CONTENT
-------------------------------------------------------- */

.work-container{
  margin: 0 10em;
  text-align: center;


}

.work-container div{
  display: block;
  margin: 0 auto;

}


.website-mockup{

  width: 687px;
}



.masonry {
	column-count: 2;
	width: 100%;
  padding: 0 10em;
	/* margin: 64px 0 0;
	margin: 4rem 0 2rem; */
	/* padding-bottom: 0; */
}

.masonry img {
	cursor: pointer;
  width: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.masonry img:hover {
	opacity: .6;
}


/* -----------------------------------------------------
Button
-------------------------------------------------------- */


.transition { transition: all .1s ease; }
.btn {
  @extend .transition;
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;



  &:active {
    transform: translateY(1px);
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
  }

  &:focus {
    outline: none;
    background-color: #b1b1b1;
  }

  &--action {
    background-color: #739600;
    color: white;
  }

  }
}

btn:hover {
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
  background-color: #b1b1b1;
  /* color: white; */

}






/* -----------------------------------------------------
Lightbox
-------------------------------------------------------- */
.lightbox {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-content: center;
}

.lightbox img {
  align-self: center;
}

/* -----------------------------------------------------
Testimonials
-------------------------------------------------------- */
blockquote {
  margin-left: 0;
  margin-right: 0;
  display: none;
}

blockquote:first-of-type {
  display: block;
}
