/* KEEP THIS


#redCar{
  width: 100px;
  position: relative;
  top: -10px;
  left: 234px;


} */

.redCar{
  /* width: 100px; */
   position: relative;
  top: 90px;

  /* left: 44px; */


}


.blueCar{
  /* width: 100px; */
  position: relative;
  top: 90px;
  /* left: 234px; */


}


#racer-game{
  display: block;
  margin: 0 auto;

}

#actual-racergame {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}


#car1{
  /* width: 100px; */
  position: relative;
  /* top: -10px;
  left: 234px; */

}

.car-ready-position{
  width: 100px;
  height: 50px;
  position: relative;
  top: 110px;
  left: -168px;

}

.car-ready-position2{
  width: 100px;
  height: 50px;
  position: relative;
  top: 173px;
  left: -268px;

}


#car2{
  /* width: 100px; */
  position: relative;
  /* top: -10px;
  left: 234px; */

}

.game-area-hidden{
  display: none;
}

.race-game-area-revealed{
  /* display: inline-block; */
  /* width: 487px; */
  width: 100%;
  margin-top: 3em;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.are-you-ready-hidden{
  display: none;
}

.are-you-ready-revealed{
  display: inline-block;
}

.car-hidden{
  display: none;
}

.car-reveal{
  display: inline-block;
}
